// COLOR LIGHT MODE

$color-red-1: #90030c;
$color-red-2: #bf2626;
$color-red-3: #ee0f0f;
$color-red-4: #ecb7b7;
$color-gray-light-1: #eee;
$color-gray-light-2: #e1e1e1;

// COLOR DARK MODE

$color-gray-dark-1: #181818;
$color-gray-dark-2: #212121;
$color-gray-dark-2-1: #ffffff14;
$color-gray-dark-3: #3d3d3d;
$color-gray-dark-4: #aaa;

// COMMON COLORS

$color-white: #fff;
$color-black: #000;
