@use "../styles/breakpoints.scss" as b;
.logo {
  height: 3rem;
}

.flex {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.navDisplay {
  display: none;

  @include b.media(tab-port) {
    display: block;
  }
}
