@use "../styles/breakpoints.scss" as b;

.container {
  padding: 1px;
  min-width: 30rem;
  max-width: 40rem;
  @include b.media(tab-port) {
    max-width: none;
  }
  @include b.media(big) {
    max-width: 45rem;
  }
  @include b.media(huge) {
    max-width: none;
  }
}

.h1 {
  margin-bottom: 1rem;
}
