@use "../styles/index.scss" as i;
@use "../styles/breakpoints.scss" as b;

.inputBox {
  outline: 0;
  display: flex;
  height: 4rem;
  border-radius: 2rem;
  border: 1px solid;
  overflow: hidden;
  position: relative;
}

.input {
  outline: 0;
  border: none;
  padding: 1rem;
  padding-left: 1.5rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  width: 45rem;

  @include b.media(tab-port) {
    width: 35rem;
  }
  @include b.media(phone) {
    width: 100%;
  }

  font-size: 1.8rem;
  &:focus {
    padding-left: 3.5rem;
  }
}

.searchButton {
  width: 6rem;
  outline: 0;
  border: none;
  border-left: 1px solid;
  position: relative;
}

.magnifier {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  height: 2rem;
  background-color: transparent;
}
.magnifierBtn {
  height: 2.3rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
