@use "../styles/breakpoints.scss" as b;
.el {
  display: flex;
  flex-direction: column;
  align-items: center;
  //border: 1px solid magenta;
  padding: 1rem;
  border-radius: 0.7rem;

  @include b.media(mobile) {
    padding: 0.5rem;
  }
}

.img {
  height: 3rem;
}
.p {
  font-size: 1.6rem;
}
.img {
  height: 3rem;
  margin-bottom: 0.5rem;
}
