.videoDescription {
  padding: 1.5rem;
  border-radius: 1rem;
}
.statsContainer {
  margin-bottom: 0.5rem;
}
.stats {
  font-weight: 500;
  font-size: 1.8rem;
}
.text {
  font-size: 1.6rem;
  text-wrap: wrap;
  overflow-x: auto;
}
.message {
  font-weight: 700;
  font-size: 1.6rem;
  cursor: pointer;
}
